<div class="rotation-header">
  <h1>Current Rotation</h1>
  
  <div class="rotation-actions resumed">
    <a class="btn btn-large refresh-link" href="#">
      <i class="icon-refresh icon-black"></i>
    </a>

    <div class="status-actions">
      <a class="btn btn-large pause-link" href="#">
        <i class="icon-pause icon-black"></i>
        Pause Rotation
      </a>
      <a class="btn btn-large resume-link" href="#">
        <i class="icon-play icon-black"></i>
        Resume Rotation
      </a>  
    </div>
  </div>
</div>

<div class="notify-holder"></div>

<div class="current-rotation"></div>