<h2>Your music tastes change. So should your Twitter updates.</h2>
<p>Rotate-Radio moniters the artists you listen to the most and makes sure you get their updates on Twitter. As you listening habits change, we make sure you Twitter account does too.</p>

<%= link_to 'Sign in with Twitter', provider_auth_path(:twitter), :class => 'big-auth-link' %>
<%= link_to 'Sign in with Rdio', provider_auth_path(:rdio), :class => 'big-auth-link' %>