@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

.navbar-fixed-top .container, .container {
  width: 720px;
}

.content {
  margin-top: 40px;
  padding: 20px;
}

.big-auth-link {
  float: left;
  margin-top: 20px;
  margin-right: 40px;
  display: block;
  width: 200px;
  height: 200px;
  .border-radius(100px);
  border: 1px solid #ddd;
  text-align: center;
  line-height: 200px;
}